# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.gitignore

extract_code.py
codebase.txt
IA.md
extract_modified_commit.py
modified_codebase_till_commit_*.txt
modified_codebase.txt
extract_modified.py 
Reunion_3.pdf
Grupo05_CarolShaw_Memoria_Intermedia.pdf
Requisitos_actualizados_02_04_2026.pdf
Reunion_4.pdf
Documentación WebSockets.pdf
